@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    height: 100%;
}

/*Unifico estilos que se repiten a lo largo del c'odigo*/
ul {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.contenedor {
    max-width: 1000px;
}

a {
    text-decoration: none;
    display: block;
}

section, main {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 110px 40px;
} 

h2 {
    font-size: 45px;
    font-weight: 400;
    color: #C86733;
}

.fas, .fab {
    font-size: 50px;
    margin-bottom: 20px;
}

/*Unifico colores que se repiten a lo largo del c'odigo*/
header, footer {
    background-color: #C48A69;
}

.resaltado, .seccion-presentacion {
    background-color: #F0EEE4;
}

a, .button, .cita, footer {
    color: #F0EEE4;
}

.resaltado, .nombre, .proyecto-nombre, .proyectos-filtro {
    color: #8C4A2F;
}

/*Unifico font-families que se repiten a lo largo del c'odigo*/
h1, h2, .conocimiento-nombre {
    font-family: 'Rubik', sans-serif;
}

/*Comienza header*/
header {
    display: flex;
    justify-content: flex-end;
    padding: 25px 100px;
    box-shadow: 0 0 29px 0 rgba(196, 138, 105, 0.25);
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
}

.menu-header {
    display: flex;
    margin: 0;
}

.nav-link {
    line-height: 2.5;
}

.nav-item {
    margin: 0 15px;
}

.resaltado {
    font-weight: 200;
    height: 40px;
    padding: 0 20px;
    border-radius: 100px;
}

.menu-hamburguesa {
    display: none;
}

/*Fin header - comienza secci'on presentaci'on*/  
.contenido-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.presentacion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

h1 {
    font-size: 60px;
    font-weight: 500;
}

.saludo {
    font-size: 35px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
}

.nombre {
    margin-top: 0;
    margin-bottom: 5px;
}

.detalles {
    color: #424141c7;
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 40px;
}

.resaltado-presentacion {
    background-color: #8C4A2F;
    padding: 15px 40px;
    border-radius: 100px;
    font-weight: 500;
}

.imagen-presentacion {
    width: 100%;
    height: auto;
    margin: 20px;
}

/*Fin secci'on presentaci'on - Comienzo Secci'on Habilidades*/
.conocimientos-bloque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conocimientos-descripcion {
    max-width: 350px;
}

.tabla {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.conocimientos-item, .proyecto-item {
    border-radius: 8px;
    border: 1px solid #C48A69;
    width: 260px;
    margin: 10px;
    padding: 30px;
}

.conocimiento-nombre {
    font-size: 20px;
    font-weight: 500;
}

/*Fin secci'on habilidades - Comienzo secci'on cita*/
.seccion-cita {
    background-color: #C86733;
}
.cita-contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cita {
    font-size: 23px;
    margin: 10px 40px;
    max-width: 700px;
}

h3 {
    font-size: 40px;
}

/*Fin secci'on cita - Comienzo secci'on Proyectos*/

.filtros {
    display: flex;
    justify-content: center;
}

.filtros-lista {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.proyectos-filtro {
    margin: 10px 30px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.proyecto-imagen {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.proyecto-nombre {
    margin-top: 20px;
    font-weight: 600;
}

/*Fin secci'on proyectos - Comienzo footer*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 20px 60px;
}

.footer-nav-menu {
    display: flex;
    margin: 0;
}

.footer-social {
    display: flex;
    margin: 30px 0;
}

.social-icon {
    margin: 10px;
}

