@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Karla', sans-serif;
    margin: 0;
}

/*Unifico estilos que se repiten a lo largo del c'odigo*/
ul {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.contenedor {
    max-width: 1000px;
}

a {
    text-decoration: none;
    display: block;
}

section, main {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 110px 40px;
} 

h2 {
    font-size: 45px;
    font-weight: 400;
    color: #C86733;
}

.fas, .fab {
    font-size: 50px;
    margin-bottom: 20px;
}

.imagen-presentacion, .proyecto-imagen {
    width: 100%;
    height: auto;
}

.conocimientos-bloque, .cita-contenido, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Unifico colores que se repiten a lo largo del c'odigo*/
header, footer {
    background-color: #C48A69;
}

.resaltado, .seccion-presentacion {
    background-color: #F0EEE4;
}

a, .button, .cita, footer {
    color: #F0EEE4;
}

.resaltado, .nombre, .proyecto-nombre, .proyectos-filtro {
    color: #8C4A2F;
}

/*Unifico estilado de font que se repiten a lo largo del c'odigo*/
h1, h2, .conocimiento-nombre {
    font-family: 'Rubik', sans-serif;
}

h1, .saludo, .resaltado-presentacion, .conocimiento-nombre, .proyecto-nombre {
    font-weight: 500;
}

/*Comienza header*/
header {
    padding: 25px 100px;
    box-shadow: 0 0 29px 0 rgba(196, 138, 105, 0.25);
}

header, .nav-menu {
    display: flex;
    justify-content: flex-end;
}

.menu-header {
    display: flex;
    margin: 0;
}

.nav-link {
    line-height: 2.5;
}

.nav-item {
    margin: 0 15px;
}

.resaltado {
    font-weight: 200;
    height: 40px;
    padding: 0 20px;
    border-radius: 100px;
}

.menu-responsive {
    padding: 0 20px;
    height: 160px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 20px;
    transform: translateY(-190px); 
    transition: 0.5s ease-in;
}

.menu-hamburguesa {
    display: none;
}

/*Fin header - comienza secci'on presentaci'on*/  
.contenido-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.presentacion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

h1 {
    font-size: 60px;
}

.saludo {
    font-size: 35px;
}

.nombre, .saludo {
    margin-top: 0;
    margin-bottom: 5px;
}

.detalles {
    color: #424141c7;
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 40px;
}

.resaltado-presentacion {
    background-color: #8C4A2F;
    padding: 15px 40px;
    border-radius: 100px;
}

.imagen-presentacion {
    margin: 20px;
}

/*Fin secci'on presentaci'on - Comienzo Secci'on Habilidades*/
.conocimientos-descripcion {
    max-width: 350px;
}

.tabla {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.conocimientos-item, .proyecto-item {
    border-radius: 8px;
    border: 1px solid #C48A69;
    width: 260px;
    margin: 10px;
    padding: 30px;
}

.conocimiento-nombre {
    font-size: 20px;
}

/*Fin secci'on habilidades - Comienzo secci'on cita*/
.seccion-cita {
    background-color: #C86733;
}

.cita {
    font-size: 23px;
    margin: 10px 40px;
    max-width: 700px;
}

h3 {
    font-size: 40px;
}

/*Fin secci'on cita - Comienzo secci'on Proyectos*/

.filtros, .filtros-lista, .proyectos-filtro {
    display: flex;
    justify-content: center;
}

.proyectos-filtro {
    align-items: center;
}

.filtros-lista {
    flex-wrap: wrap;
}

.proyectos-filtro {
    margin: 10px 30px;
    font-size: 18px;
}

.proyecto-imagen {
    display: block;
    border-radius: 8px;
}

.proyecto-nombre {
    margin-top: 20px;
}

/*Fin secci'on proyectos - Comienzo footer*/
footer {
    padding: 80px 20px 60px;
}
.footer-nav-menu, .footer-social {
    display: flex;
}
.footer-nav-menu {
    margin: 0;
}

.footer-social {
    margin: 30px 0;
}

.social-icon {
    margin: 10px;
}

/*Comienzo 'ordenes para responsive design*/
@media (max-width:900px) {
    .contenido-principal {
        flex-direction: column;
    }

    .presentacion {
        align-items: center;
        width: 100%;
        max-width: 500px;
        margin-bottom: 30px;
    }

    .proyecto-item {
        width: 45%;
    }
}


@media (max-width:650px) and (min-width:500px) {
    .conocimientos-item {
        width: 200px;
        padding: 15px 5px;
    }
}

@media (max-width:600px) {
    header {
        justify-content: flex-end;
        padding: 25px;
    }

    .nav-menu, .nav-footer {
        display: none;
    }

    .menu-hamburguesa {
        display: block;
        font-size: 20px;
    }
    
    .menu-header.responsive {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }    

    .menu-header.responsive > li:last-child {
        margin: 0;
    }

    main, section {
        padding: 100px 10px;
    }

    .proyecto-item {
        width: 100%;
    }
}

@media (max-width:500px) {
    .conocimientos-item {
        width: 150px;
        padding: 10px 5px;
        margin: 5px;
    }

    .conocimiento-nombre {
        margin: 3px;
    }
}

/*Comienzo clases especiales*/
.hidden {
    display: none;
}

.color-menu {
    color: #F0EEE4
}

.menu-desplegado {
    justify-content: space-between;
    height: 200px;
    transition: translate 1s;
}

.abierto {
    transform: translateY(0);
    position: relative;
}